@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --highlight: #f35151;
  --highlight-opacity: rgb(254, 255, 202);
  --highlight-variant: #6b96d6;
  --stack: whitesmoke;

  /*Font*/
  --font-stack: 'Open Sans', sans-serif;
  --font-highlight: 'Playwrite GB S', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-stack), 'sans-serif';
  min-height: 100vh;
}